---
import Shield from "@icons/Shield.astro"
---

<header class="bg-blue-600 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center">
        <Shield className="w-8 h-8 mr-2" />
        <span class="text-2xl font-bold">ConfIA</span>
      </div>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="#" class="hover:text-blue-200">Inicio</a></li>
          <li><a href="#" class="hover:text-blue-200">Planes</a></li>
          <li><a href="#" class="hover:text-blue-200">Contacto</a></li>
        </ul>
      </nav>
    </div>
</header>